@page
@model ZDrive.Pages.StopPages.StopInfoModel
@{
}
<h1>Stop info</h1>
<p>@Model.Stop.StopAddress</p>
<p>@Model.Stop.StopTimestamp.ToString("dd/MM/yyyy")</p>
<h3>User/Car Info</h3>
<p>@Model.Stop.Route.User.UserName</p>