@page
@model ZDrive.Pages.AdminModel
@{
}
<a href="/UserPages/AllUsers">All Users</a>
<a href="/UserPages/CreateUser">Create User</a>
<a href="/CarPages/ReserveSeat">ReserveSeat</a>
<a href="/CarPages/AddCarToUser">AddCarToUser</a>
<a href="/StopPages/CreateStop">Create Stop</a>
<a href="/StopPages/AllStops">All Stops</a>
<br />
<a href="/RoutePages/AllRoutes">All Routes</a>