@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a href="/UserPages/AllUsers">All Users</a>
<a href="/UserPages/CreateUser">Create User</a>
<a href="/UserPages/ReserveSeat">ReserveSeat</a>
<a href="/UserPages/AddCarToUser">AddCarToUser</a>
<a href="/StopPages/CreateStop">Create Stop</a>
<a href="/StopPages/AllStops">All Stops</a>
<br />
<a href="/RoutePages/AllRoutes">All Routes</a>
