@page
@model ZDrive.Pages.CarPages.UpdateCarModel
@{
}

<h1>Update Car</h1>

<form method="post" class="shadow card m-3">
    <div class="card-body p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Car.Licenseplate" class="control-label"></label>
            <input asp-for="Car.Licenseplate" class="form-control" />
            <span asp-validation-for="Car.Licenseplate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Car.NumberOfSeats" class="control-label"></label>
            <input asp-for="Car.NumberOfSeats" class="form-control" />
            <span asp-validation-for="Car.NumberOfSeats" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Car.AvailableSeats" class="control-label"></label>
            <input asp-for="Car.AvailableSeats" class="form-control" />
            <span asp-validation-for="Car.AvailableSeats" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Car.SizeOfCar" class="control-label"></label>
            <select asp-for="Car.SizeOfCar" class="form-control">
                <option selected value="Demi">Demi</option>
                <option value="Short">Short</option>
                <option value="Tall">Tall</option>
                <option value="Grande">Grande</option>
                <option value="Venti">Venti</option>
                <option value="Trenta">Trenta</option>
            </select>
            <span asp-validation-for="Car.SizeOfCar" class="text-danger"></span>
        </div>
        @*<div class="form-group">
            <label asp-for="Car.UserId" class="control-label"></label>
            <input asp-for="Car.UserId" class="form-control" />
            <span asp-validation-for="Car.UserId" class="text-danger"></span>
            </div> *@
        <input type="hidden" asp-for="Car.UserId" value="@Model.Car.UserId" />
        <div class="d-flex justify-content-around mt-4 mb-2">
            <input class="btn btn-primary col-5" type="submit" value="Update" />
            <a class="btn btn-primary col-5" asp-route-uid="@Model.Car.UserId" asp-page="/CarPages/UserCars">
                     Go back</a>
        </div>
    </div>
</form>