@page
@model ZDrive.Pages.UserPages.AllUsersModel
@{
}
<div class="text-center">
    <h1>All Users</h1>
</div>
<button class="btn btn-primary m-3" onclick="$('#filterform').toggle()">Filter options</button>
<form id="filterform" style="display: none; width:10em;" method="get">
    Filter by type :
    <select asp-for="@Model.Filter.UserType">
        <option value="Driver">Driver</option>
        <option value="Passenger">Passenger</option>
    </select>
    <input type="submit" class="btn btn-outline-primary" value="Filter" />
    <br />
    <a href="/UserPages/AllUsers">Back to full list</a>
</form>

@foreach (var user in Model.Users)
{
    <div class="shadow card m-3">
        <div class="card-body p-3">
            <h5 class="card-text">User ID @user.UserId</h5>
            <h5 class="card-text">Type @user.UserType</h5>
            <h5 class="card-text">Name @user.UserName</h5>
        </div>
    </div>
}