@page
@model ZDrive.Pages.UserPages.CreateCarModel
@{
}
<h1>Create New Car</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Car.Licenseplate" class="control-label"></label>
                <input asp-for="Car.Licenseplate" class="form-control" />
                <span asp-validation-for="Car.Licenseplate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.NumberOfSeats" class="control-label"></label>
                <input asp-for="Car.NumberOfSeats" class="form-control" />
                <span asp-validation-for="Car.NumberOfSeats" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Car.AvailableSeats" class="control-label"></label>
                <input asp-for="Car.AvailableSeats" class="form-control" />
                <span asp-validation-for="Car.AvailableSeats" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Car.SizeOfCar" class="control-label"></label>
                <select asp-for="Car.SizeOfCar" class="form-control">
                    <option value="Demi">Demi</option>
                    <option value="Short">Short</option>
                    <option value="Tall">Tall</option>
                    <option value="Grande">Grande</option>
                    <option value="Venti">Venti</option>
                    <option value="Trenta">Trenta</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Car.UserId" class="control-label"></label>
                <input asp-for="Car.UserId" class="form-control" />
                <span asp-validation-for="Car.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="/Pages/Index">Back to List</a>
</div>