@page
@model ZDrive.Pages.UserPages.CreateUserModel
@{
    ViewData["Title"] = "CreateUser";
}
<div class="text-center">
    <h1>Create User</h1>
</div>

<form method="post" class="shadow card m-3">
    <div class="card-body p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <h3 class="card-text">Do you want to register as a driver?</h3>
            <label>yes</label><input type="radio" asp-for="@Model.ZUser.UserType" value="Driver">
            <label>no</label><input type="radio" asp-for="@Model.ZUser.UserType" value="Passenger" checked>
        </div>
        <div class="form-group">
            <label asp-for="ZUser.UserName" class="control-label"></label>
            <input asp-for="ZUser.UserName" class="form-control" />
            <span asp-validation-for="ZUser.UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ZUser.UserEmail" class="control-label"></label>
            <input asp-for="ZUser.UserEmail" readonly class="form-control" value="@User.Identity.Name" />
            <span asp-validation-for="ZUser.UserEmail" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-around mt-4 mb-2">
            <input class="btn btn-primary col-5" type="submit" value="Create" />
            <a class="btn btn-primary col-5" asp-page="/Index">Go back</a>
        </div>
    </div>
</form>