@page
@model ZDrive.Pages.UserPages.UserCarsModel
@{
}
<h1>@Model.User.UserName's Cars</h1>

<table class="table">
    <thead>
        <tr>
            <th>Licenseplate</th>
            <th>Number of seats</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td>@car.Licenseplate</td>
                <td>@car.NumberOfSeats</td>
                <td>@car.SizeOfCar</td>
            </tr>
        }
    </tbody>
</table>