@page
@model ZDrive.Pages.RoutePages.UsersOnRouteModel
@{
}

<div class="text-center">
    <h1>All Users on this route</h1>
</div>
@if (Model.ZUsers.Count() > 0)
{
    @foreach (var user in Model.ZUsers)
    {
        <div class="shadow card m-3">
            <div class="card-body p-3">
                <h5>User ID @user.UserId</h5>
            </div>
        </div>
    }
}
